# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*

# dotenv environment variables
.env

# OS system files
.DS_Store
Thumbs.db

# Optional: VSCode or JetBrains settings
.vscode/
.idea/

# Optional: build files
dist/
build/
