$text: #ededed;
$background: #050a0a;
$primary: #3eaeb6;
$secondary: #157c84;
$accent: #f92222;

// $text: #121212;
// $background: #f5fafa;
// $primary: #49b9c1;
// $secondary: #7be3ea;
// $accent: #e00606;



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-body{
    padding: 1.5rem;
    background-color: $background;
}

h1{
    text-align: center;
    font-size: 4rem;
    color: $text;
}
h2{
    text-align: center;
    font-size: 2rem;
    color: $text;
}

p{
    margin: auto ;
    width: 80%;
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
    color: $text;
}

img{
    width: 95%;
    display: block;
    margin: auto auto;
}

.h1-div{
    background-color: $secondary;
    margin: auto auto;
    width: max-content;
    margin-bottom: 2rem;
    padding: 1.2rem;
    border-radius: 1.2rem;

}

.h2-div{
    background-color: $primary;
    margin: auto auto;
    width: max-content;
    margin-bottom: 2rem;
    padding: 1.2rem;
    border-radius: 1.2rem;
}