
.comfortaa-blah {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 4rem;
  /* text-underline-offset: .9rem; */
  text-decoration: underline;
}